[Unit]
Description=Run lengwurds at boot time

[Service]
ExecStart=/app/lengwurds
EnvironmentFile=/app/tmp/t
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
